<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Gamer Paradise</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
    <link href="/css/main.min.css" rel="stylesheet" type="text/css" />
    <script src="/lib/js/jquery-3.4.1.min.js" defer></script>
    <script src="/lib/js/bootstrap.min.js" defer></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand" role="button">Gamer Paradise</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link" role="button">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Games" class="nav-link" role="button">Games</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Subscription" class="nav-link"
                            role="button">Subscription</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Support" class="nav-link" role="button">Support</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="About" class="nav-link" role="button">About</a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a asp-controller="Admin" asp-action="Games" class="dropdown-item" role="button">Games</a>
                                <a asp-controller="Admin" asp-action="Publishers" class="dropdown-item"
                                role="button">Publishers</a>
                                <a asp-controller="Admin" asp-action="Developers" class="dropdown-item"
                                role="button">Developers</a>
                                <a asp-controller="Admin" asp-action="Genres" class="dropdown-item" role="button">Genres</a>
                                <a asp-controller="Admin" asp-action="Ratings" class="dropdown-item"
                                role="button">Ratings</a>
                                <a asp-controller="Admin" asp-action="Plans" class="dropdown-item" role="button">Plans</a>
                                <a asp-controller="Admin" asp-action="Tickets" class="dropdown-item"
                                role="button">Tickets</a>
                                <a asp-controller="Admin" asp-action="Reviews" class="dropdown-item"
                                role="button">Reviews</a>
                            </div>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="text-center">
        <hr>
        <div class="socials">
            <a href="https://www.linkedin.com" target="_blank">
                <img class="logos" id="linkedin" src="/images/linkedin-logo.png" alt="LinkedIn" width="25" height="25">
            </a>
            <a href="https://twitter.com" target="_blank">
                <img class="logos" id="twitter" src="/images/twitter-logo.png" alt="Twitter" width="25" height="25">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img class="logos" id="instagram" src="/images/instagram-logo.png" alt="Instagram" width="25"
                    height="25">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img class="logos" id="facebook" src="/images/facebook-logo.png" alt="Facebook" width="25" height="25">
            </a>
        </div>
        <br>
        <p>© Gamer Paradise @DateTime.Now.Year</p>
    </footer>
</body>

</html>