/* Body and html styles. */
html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 70px;
  background-color:rgb(0, 0, 0);
}

/* Reds text when a form input is incorrect. */
.field-validation-error {
  color: red;
}

/* General element styles */
p, span, h3, label, th, td, li {
  color: rgba(255,255,255, 0.86);
}

hr {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

h1 {
  color: red;
  text-align: center;
}

img {
  border: 5px solid black;
}

footer {
  color: gray;
}

ul {
  list-style-type: circle;
}

<<<<<<< HEAD
#contact-bg {
<<<<<<< HEAD
  background-image: url('../images/contact-bg.jpg');
=======
  background-image: url('/images/contact-bg.jpg');
>>>>>>> f301956e39f411a3d10fbd0e826a3bc0b41783c5
  background-size: cover;
=======
.container {
  width: 100%;
>>>>>>> 16d72b8ebe135aca4502371e3ee7ec1471d5513a
}

.container h2{
  color: #ffa500;
}

.container .carousel-inner {
  height: 400px;
  width: auto;
}

/* dropdown game menu code */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px;
}

.image-fluid {
  width: 100%;
  height: 250px;
}

.gameStyles {
  text-align: center;
  margin-top: 30px;
}

.gameStyles h3 {
  font-size: 30px;
  font-weight: 700;
}

.gameStyles p:first-of-type {
  margin-top: 15px;
}

.gameStyles p:last-of-type {
  font-weight: 500;
}

.gameStyles p {
  font-size: 25px;
}

/* Style for textarea on tickets page. */
.ticketTextarea {
  padding: 10px;
  line-height: 28px;
  width: 100%;
}

/* Styles for footer logos. */
.logos {
  border: none;
  width: 50px;
  height: 50px;
}

.socials {
  text-align: center;
}

.socials a {
  padding: 10px;
}

/* Styles for the support page. */
#contactDiv {
  padding: 5px;
  margin: auto;
}

/* Styles for the home page. */
.bg-image {
  background-image: url("/images/arcade_bg.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 200vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#homePlans {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#homeCarousel {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 170%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* Styles for about page. */
#aboutMission {
  width: 70%;
  margin: auto;
}

/* Styles for profile */
.profileImage {
  max-height:100px;
  max-width:100px;
}

 /* Class for div containg AddCreditCard form */
 .padding {
  padding: 1rem !important;
  margin-left: 50px;
}

.card {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
  display: inline-block;
  padding: 0;
}
