<div class="bg-image"></div>
<div class="bg-text">
    <h1>Welcome to @ViewBag.ApplicationName</h1>
</div>
<div id="homePlans" class="container">
    <div class="text-center">
        <h2> Choose from a selection of plans </h2>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="bg-dark card h-100 text-center">
                <img class="card-img-top" src="/images/messy_gamer.jpg" alt="Test">
                <div class="card-body">
                    <h5 class="card-title">Classic Package</h5>
                    <h6 class="text-white card-subtitle mb-2">$12.99/month</h6>
                </div>

                <ul class="plan_list">
                    <li>
                        <p>Growing library of thousands of games</p>
                    </li>
                    <li>
                        <p>Up to 5 game downloads at a time</p>
                    </li>
                    <li>
                        <p>Recieve our exclusive member newsletter</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="bg-dark card h-100 text-center">
                <img class="card-img-top" src="/images/headphones.jpg" alt="Test">
                <div class="card-body">
                    <h5 class="card-title">Standard Package</h5>
                    <h6 class="text-white card-subtitle mb-2">$16.99/month</h6>
                </div>

                <ul class="plan_list">
                    <li>
                        <p>Growing library of thousands of games</p>
                    </li>
                    <li>
                        <p>Up to 10 game downloads at a time</p>
                    </li>
                    <li>
                        <p>The ability to beta test for developing games</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="bg-dark card h-100 text-center">
                <img class="card-img-top" src="/images/console_controller.jpg" alt="Test">
                <div class="card-body">
                    <h5 class="card-title">Ultimate Package</h5>
                    <h6 class="text-white card-subtitle mb-2">$25.99/month</h6>
                </div>

                <ul class="plan_list">
                    <li>
                        <p>Growing library of thousands of games</p>
                    </li>
                    <li>
                        <p>Up to 15 game downloads at a time</p>
                    </li>
                    <li>
                        <p>Play on multiple devices</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="homeCarousel" class="container">
    <div id="carouselGameIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselGameIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselGameIndicators" data-slide-to="1"></li>
            <li data-target="#carouselGameIndicators" data-slide-to="2"></li>
        </ol>
        <h2 class="text-center">Staff Picks</h2>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/images/messy_gamer.jpg" alt="Test slide1">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/arcade_game.jpg" alt="Test slide2">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/retro_games.jpg" alt="Test slide3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselGameIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselGameIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>