@model IEnumerable<Plan>

<div class="text-center">
    <h2> Choose from a selection of plans </h2>
</div>

<form method="post">
    <div class="container py-5">
        <div class="row text-center align-items-end">
            <div class="col-lg-12 mb-lg-0">
                <div class="bg-dark rounded-lg shadow">
                    <div class="row text-center align-items-end">
                        <div class="col-lg-3 p-5"></div>
                        @foreach (Plan p in Model)
                        {
                            <div class="col-lg-3 p-5">
                                <h2 class="h6 text-uppercase text-small text-white font-weight-bold mb-4">14 DAY FREE
                                    TRIAL
                                </h2>
                                <h1 class="h4 text-uppercase text-light font-weight-bold mb-4">@p.Name</h1>
                                <h2 class="h1 font-weight-bold text-light mb-4">$@p.Price.ToString()<span
                                    class="text-small">/mo</span>
                                </h2>
                                <a asp-controller="Account" asp-action="AddSubscription" asp-route-id=@p.PlanId
                                class="btn btn-success btn-block p-2 shadow rounded-pill" role="button">Subscribe</a>
                            </div>
                        }
                    </div>

                    <div class="row text-center align-items-end">
                        <div class="col-lg-3 pl-5">
                            <ul class="list-unstyled my-3 text-small text-left font-weight-normal">
                                <li class="h6 text-light mb-3"> Personal library for your collection </li>
                            </ul>
                        </div>
                        @foreach (Plan p in Model)
                        {
                            <div class="col-lg-3">
                                <ul class="list-unstyled my-3">
                                    @if (p.HasPersonalLibrary)
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-check mr-2 text-success"></i> </li>
                                    }
                                    else
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-times mr-2 text-danger"></i> </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="row text-center align-items-end">
                        <div class="col-lg-3 pl-5">
                            <ul class="list-unstyled my-3 text-small text-left font-weight-normal">
                                <li class="h6 text-light mb-3"> Access to our Subscriber Newsletter </li>
                            </ul>
                        </div>
                        @foreach (Plan p in Model)
                        {
                            <div class="col-lg-3">
                                <ul class="list-unstyled my-3">
                                    @if (p.RecievesNewsletter)
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-check mr-2 text-success"></i> </li>
                                    }
                                    else
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-times mr-2 text-danger"></i> </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="row text-center align-items-end">
                        <div class="col-lg-3 pl-5">
                            <ul class="list-unstyled my-3 text-small text-left font-weight-normal">
                                <li class="h6 text-light mb-3"> Instant access to thousands of games </li>
                            </ul>
                        </div>
                        @foreach (Plan p in Model)
                        {
                            <div class="col-lg-3">
                                <ul class="list-unstyled my-3">
                                    @if (p.HasAccessToAllGames)
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-check mr-2 text-success"></i> </li>
                                    }
                                    else
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-times mr-2 text-danger"></i> </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="row text-center align-items-end">
                        <div class="col-lg-3 pl-5">
                            <ul class="list-unstyled my-3 text-small text-left font-weight-normal">
                                <li class="h6 text-light mb-3"> Ability to beta test games </li>
                            </ul>
                        </div>
                        @foreach (Plan p in Model)
                        {
                            <div class="col-lg-3">
                                <ul class="list-unstyled my-3">
                                    @if (p.CanBetaTest)
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-check mr-2 text-success"></i>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-times mr-2 text-danger"></i>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="row text-center align-items-end">
                        <div class="col-lg-3 pl-5">
                            <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                                <li class="h6 text-light mb-3"> Play on 2 devices </li>
                            </ul>
                        </div>
                        @foreach (Plan p in Model)
                        {
                            <div class="col-lg-3">
                                <ul class="list-unstyled my-3">
                                    @if (p.CanPlayOnTwoDevices)
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-check mr-2 text-success"></i>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="h3 mb-3 text-center"> <i class="fa fa-times mr-2 text-danger"></i>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>