@model SubscriptionViewModel
<h2 class="text-center">Are you sure you want to cancel your subscription?</h2>
<div class="form-horizontal">
    <form method="post">
        <input type="hidden" asp-for="@Model.Subscription.SubscriptionId" />
        <input type="hidden" asp-for="@Model.Subscription.UserId" />
        <input type="hidden" asp-for="@Model.Subscription.CardId" />
        <input type="hidden" asp-for="@Model.Subscription.PlanId" />
        <div class="text-center">
            <p>
                <button type="submit" class="btn btn-primary" role="button">Confirm</button>
                <a asp-controller="Home" asp-action="Profile" class="btn btn-success text-light" role="button">Back</a>
            </p>
        </div>
    </form>
</div>
