@model EditProfileViewModel
<h1>Update Profile</h1>>
<div class="form-horizontal">
    <form method="post" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="NewProfileImage"></label>
                    <input asp-for="NewProfileImage" class="form-control bg-secondary text-light" type="file" />
                    <span asp-validation-for="NewProfileImage"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="EmailAddress"></label>
                    <input asp-for="EmailAddress" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="EmailAddress"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="Username"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input type="password" name="NewPassword" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="password" name="ConfirmPassword" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
        </div>

        <hr>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="OldPassword">Enter your password to confirm changes</label>
                    <input type="password" name="OldPassword" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="OldPassword"></span>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" role="button">Save</button>
            <a asp-controller="Home" asp-action="Profile" class="btn btn-success text-light" role="button">Cancel</a>
        </div>
    </form>
</div>