@model Plan
<h2 class="text-center">Add Plan</h2>
<div class="form-horizontal">
    <form method="post">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control bg-secondary text-light" rows="3"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="Price"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="MaxDownloads"></label>
                    <input asp-for="MaxDownloads" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="MaxDownloads"></span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <label asp-for="CanBetaTest">Beta Test</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <label asp-for="CanPlayOnTwoDevices">Two Devices</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <label asp-for="HasAccessToAllGames">All Games</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <label asp-for="HasPersonalLibrary">Personal Library</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <label asp-for="RecievesNewsletter">Newsletter</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <input asp-for="CanBetaTest" class="form-control" type="checkbox" />
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <input asp-for="CanPlayOnTwoDevices" class="form-control" type="checkbox" />
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <input asp-for="HasAccessToAllGames" class="form-control" type="checkbox" />
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <input asp-for="HasPersonalLibrary" class="form-control" type="checkbox" />
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column col-1">
                    <div class="form-group">
                        <input asp-for="RecievesNewsletter" class="form-control" type="checkbox" />
                    </div>
                </div>
            </div>
            <p>
                <button type="submit" class="btn btn-primary" role="button">Add</button>
                <a asp-controller="Admin" asp-action="Plans" class="btn btn-success text-light" role="button">Cancel</a>
            </p>
        </div>
    </form>
</div>