@model IEnumerable<Rating>
<div>
    <div class="btn-group">
        <a asp-controller="admin" asp-action="AddRating" class="btn btn-primary" role="button">Add</a>
        <a asp-controller="admin" asp-action="RestoreRating" class="btn btn-secondary" role="button">Restore</a>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><a asp-controller="admin" asp-action="editRating" asp-route-id="@item.RatingId">Edit</a> | <a
                    asp-controller="admin" asp-action="DeleteRatingConfirm" asp-route-id="@item.RatingId">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>