@model IEnumerable<Publisher>
<div>
    <h3>Restore Publisher</h3>
    <table class="table">
        <tr>
            <th>Publisher</th>
            <th>Action</th>
        </tr>
        @foreach (Publisher p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td><a asp-controller="Admin" asp-action="RestorePublisher" asp-route-id="@p.PublisherId"
                    class="btn btn-link">Restore</a></td>
            </tr>
        }
    </table>
</div>