@model IEnumerable<Developer>
<div>
    <h3>Restore Developer</h3>
    <table class="table">
        <tr>
            <th>Developer</th>
            <th>Action</th>
        </tr>
        @foreach (Developer d in Model)
        {
            <tr>
                <td>@d.Name</td>
                <td><a asp-controller="Admin" asp-action="RestoreDeveloper" asp-route-id="@d.DeveloperId"
                    class="btn btn-link">Restore</a></td>
            </tr>
        }
    </table>
</div>