@model IEnumerable<Game>
<div>
    <h3>Restore Game</h3>
    <table class="table">
        <tr>
            <th>Game</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        @foreach (Game g in Model)
        {
            <tr>
                <td>@g.Name</td>
                <td>@g.Description</td>
                <td><a asp-controller="Admin" asp-action="RestoreGame" asp-route-id="@g.GameId"
                    class="btn btn-link">Restore</a></td>
            </tr>
        }
    </table>
</div>