@model IEnumerable<Genre>
<div>
    <h3>Restore Genre</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        @foreach (Genre g in Model)
        {
            <tr>
                <td>@g.Name</td>
                <td>@g.Description</td>
                <td><a asp-controller="Admin" asp-action="RestoreGenre" asp-route-id="@g.GenreId"
                    class="btn btn-link">Restore</a></td>
            </tr>
        }
    </table>
</div>