@model IEnumerable<Ticket>
<div>
    <h1>Support Tickets</h1>
    @foreach (var item in Model)
    {
        <div class="bg-dark card col-sm-4">
            <div class="card-body">
                <h3 class="card-title">@item.Name</h3>
                <p class="card-text">@item.EmailAddress</p>
                <p class="card-text">@item.Message</p>
                <form method="POST" asp-controller="admin" asp-action="respondtoticket" asp-route-id="@item.TicketId">
                    <textarea class="ticketTextarea bg-secondary text-light" rows="3" cols="50" wrap="soft"></textarea>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit" role="button">Send Reply</button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>