@page "/dashboard"
@inject CurrentPage currentPage

<PageTitle>Admin Dashboard</PageTitle>

<div class="card p-3 shadow-sm">
    <h1>Hello, Admin user!</h1>

    Welcome to the Admin Portal.

    <div class="alert alert-secondary">
        <b>Please navigate the admin pages by using the links on the left-side of the screen.</b>
    </div>

</div>

@code {
    protected override void OnInitialized()
    {
        currentPage.SetCurrentPageName("Dashboard");
        base.OnInitialized();
    }

    void ChangeName() => currentPage.SetCurrentPageName("Name changed");
}
