.modal-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.edit-input input {
    width: 65px;
    margin-left: 15px;
}

.modal-footer {
    width: 100%;
}
