@page "/sales"

<PageTitle>Sales</PageTitle>

<h3>Sales</h3>

<!-- Create Button -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add
</button>

<!-- Create Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add sale</h5>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">
                <form class="add-form">
                    <div class="add-input">
                        <div class="add-name-id">
                            <input type="text" id="id" name="id" placeholder="Product ID" />
                            <p>Or</p>
                            <input type="text" id="name" name="name" placeholder="Product name" />
                        </div>
                        <div class="add-amount">
                            <label for="amount">Product amount: </label>
                            <input type="number" id="amount" name="amount" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Edit Button -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Edit
</button>

<!-- Edit Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit item</h5>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">
                <form class="edit-form">
                    <div class="edit-input">
                        <label for="amount">Product amount: </label>
                        <input type="number" id="amount" name="amount" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<Footer />

@code {

}
