@page "/login"
@using NTC_Lego.Shared
@inject HttpClient Http

<h3>Login</h3>

@if (isAuthenticated)
{
    <h3>Welcome, @user.Email!</h3>
}
else
{
    <EditForm Model="user" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="user.Email" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <ValidationSummary></ValidationSummary>
    </EditForm>
}

@code {
    bool isAuthenticated = false;
    private UserLogin user = new UserLogin();
    private void HandleLogin()
    {
        Http.PostAsJsonAsync($"/auth/login?", user);

        Console.WriteLine($"{user.Email} // {user.Password}");
        isAuthenticated = true;
    }
}