@page "/profile"
@using NTC_Lego.Shared
@inject AuthenticationStateProvider CustomAuthStateProvider
@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject CurrentPage currentPage

@if(user == null)
{
    <p>Loading user info...</p>
}
else
{
    <!--Displays user's basic profile info -->
    <div class="card p-3" style="max-width: 50%;">
        <h2>Profile</h2>
        <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <p class="card-text">Username: @(user.UserName)</p>
            <p>Email: @(user.UserEmail)</p>
        </div>
    </div>

    <br><br />

    /*
    <div class="card p-3" style="max-width: 50%;">
        <h3>Order History</h3>
        <table class="tableSalesOrder">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">TotalPrice</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table filler-->
                <tr>
                    <td>1</td>
                    <td>@DateTime.Now.ToString("MM/dd/yyyy")</td>
                    <td>$100.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>@DateTime.Now.ToString("MM/dd/yyyy")</td>
                    <td>$15.25</td>
                </tr>
            </tbody>
        </table>

    </div>
     */
}
