@model Developer
<h2 class="text-center">Add Developer</h2>
<div class="form-horizontal">
    <form method="post">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p>
                <button type="submit" class="btn btn-primary" role="button">Add</button>
                <a asp-controller="Admin" asp-action="Developers" class="btn btn-success text-light"
                    role="button">Cancel</a>
            </p>
        </div>
    </form>
</div>