@model IEnumerable<Publisher>
<div>
    <div class="btn-group">
        <a asp-controller="admin" asp-action="AddPublisher" class="btn btn-primary" role="button">Add</a>
        <a asp-controller="admin" asp-action="RestorePublisher" class="btn btn-secondary" role="button">Restore</a>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td><a asp-controller="admin" asp-action="editpublisher" asp-route-id="@item.PublisherId">Edit</a> | <a
                    asp-controller="admin" asp-action="DeletePublisherConfirm"
                    asp-route-id="@item.PublisherId">Delete</a></td>
            </tr>
        }
    </table>
</div>