<footer>
    <div class="footer">
        NTC Lego 2022 &reg;
    </div>
</footer>

<style>
    footer {
        width: 100%;
        position: fixed;
        bottom: 10px;
    }

    .footer {
        text-align: center;
    }

</style>

@code {

}
