@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider CustomAuthStateProvider

<AuthorizeView>
    <Authorized>
        <button @onclick="Logout" class="log-btn logout-btn">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="Login" class="log-btn login-btn">Login</button>
    </NotAuthorized>
</AuthorizeView>
