.admin-sidebar {
    position: sticky;
    z-index: 2;
    left: 0;
    top: 0;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    background-color: #209efe;
    height: 70px;
}

.navbar-brand {
    font-size: 1.1rem;
    color: #fff;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #000;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        margin-left: -38px;
    }

.nav-item ::deep a.active {
    background-color: white;
    color: #000;
    border: 1px solid black;
}

.nav-item ::deep a:hover {
    background-color: white;
    color: #000;
    border: 1px solid #000;
    box-shadow: 3px 3px 6px rgba(204,204,204,0.15);
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
