<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a7fcc3fe-3a27-417a-89bc-f2fbdfb46bc2/resourcegroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/ntcLego2022Prod</ResourceId>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ntclego2022prod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7a1f0979-3820-4a39-b590-05954079c851</ProjectGuid>
    <PublishUrl>https://ntclego2022prod.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ntcLego2022Prod</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>