@page "/"
@inject CurrentPage currentPage

<PageTitle>Index</PageTitle>

<div class="card p-3 shadow-sm">
    <h1>Welcome!</h1>

    <p>This is the landing page to NTC Lego.</p>
    <p>We distribute LEGO parts and associated merchandise!</p>

    <div class="alert alert-secondary">
        <b>Please browse our available items using the Catalog</b>
    </div>

    <div class="alert alert-info">
        <b>Try registering or logging in using the links in the upper right corner</b>
    </div>

</div>