<div class="text-center">
    <h2>Our Mission</h2>
</div>
<p id="aboutMission" class="lead">Here at Gamer Paradise we are dedicated to providing the best gaming service
    we can.
    We love to hear feedback from our customers to better the service, so that we can make the greatest service there is
    on the internet.
    If you want to give us feedback you can go to our contact page and fill out the form or go to one of our many social
    media links and message us.</p>
<div class="text-center">
    <hr>
    <h2>Meet The Team</h2>
</div>
<div class="container">
    <div class="row">
        <div class="bg-dark col-lg-4 mb-4">
            <div class="bg-dark card h-100 text-center">
                <img class="card-img-top" src="/images/adam_profile.jpeg" alt="Adam Domka">
                <div class="card-body">
                    <h4 class="card-title">Adam Domka</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Lead Artist</h6>
                    <p class="card-text">I am a student at NTC in the Software Development program. I have
                        past experience which includes additive manufacturing, video production and motion design.</p>
                </div>
                <div class="bg-dark card"><a href="#">ajdomka@students.ntc.edu</a></div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="bg-dark card h-100 text-center">
                <img class="card-img-top" src="" alt="Isaiah Vobora">
                <div class="card-body">
                    <h4 class="card-title">Isaiah Vobora</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Lead Developer</h6>
                    <p class="card-text">I am a student at NTC in the Software Development program. I love working on
                        vehicles and playing video games.</p>
                </div>
                <div class="bg-dark card"><a href="#">icvobora@students.ntc.edu</a></div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="bg-dark card h-100 text-center">
                <img class="aboutImages" class="card-img-top" src="/images/samprofile.jpg" height="260" width="260"
                    alt="Sam Krahn">
                <div class="card-body">
                    <h4 class="card-title">Sam Krahn</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Database Engineer</h6>
                    <p class="card-text">I am a student at NTC in the Software Development program. I enjoy sports,
                        hiking, video games, and developing software! I can't wait to be able to bring this experience
                        to the professional world after graduation.</p>
                </div>
                <div class="bg-dark card"><a href="#">skkrahn@students.ntc.edu</a></div>
            </div>
        </div>
    </div>
</div>

<hr>
<section>
    <div id="contact-bg">
        <div class="container-fluid text-center">
            <h1 class="display-4">
                <b>Have a Question?</b>
            </h1>
            <p class="lead">
                <b>Head to our support page and we will be able to help!</b>
            </p>
            <p>
                <a type="button" class="btn btn-dark btn-lg" asp-controller="home" asp-action="support">Support</a>
            </p>
        </div>
    </div>
</section>
