@model Subscription
<h2 class="text-center">Subscribe to @Model.Plan.Name</h2>
<p>@Model.Plan.Description</p>
<div class="form-horizontal">
    <form method="post">
        <input type="hidden" asp-for="PlanId">
        <input type="hidden" asp-for="UserId">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-3">
                <div class="form-group text-center">
                    @if (Model.User.Cards.Count() == 0)
                    {
                        <p style="color:red">We don't have a credit card for you on file, please add one to subscribe.</p>
                    }
                    else
                    {
                        <label asp-for="User.Cards">Select your credit card</label>
                        <select asp-for="CardId" asp-items="@(new SelectList(Model.User.Cards, "CardId", "CardNum"))"
                        class="form-control bg-secondary text-light"></select>
                        <span asp-validation-for="CardId"></span>
                    }
                </div>
            </div>
        </div>
        <div class="text-center">
            <p>
                @if (Model.User.Cards.Count() == 0)
                {
                    <a asp-controller="account" asp-action="AddCreditCard" class="btn btn-primary" role="button">Add Credit
                        Card</a>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" role="button">Subscribe</button>
                }
                <a asp-controller="Home" asp-action="Subscription" class="btn btn-success text-light"
                    role="button">Cancel</a>
            </p>
        </div>
    </form>
</div>