@model RegisterViewModel

<h2 class="text-center">Register A New Account</h2>

<div class="form-horizontal">
    <form method="POST">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">

                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">

                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">

                <div class="form-group">
                    <label asp-for="EmailAddress"></label>
                    <input asp-for="EmailAddress" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="EmailAddress"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">

                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="Username"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-6">

                <div class="form-group">
                    <label asp-for="PasswordConfirm"></label>
                    <input asp-for="PasswordConfirm" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>

        </div>

        <div class="text-center">
            <p>
                <button type="submit" class="btn btn-primary" role="button">Register</button>
            </p>
        </div>
    </form>
</div>