@model GameLibrary

<h2 class="text-center">Are you sure you want to uninstall this game?</h2>

<div class="form-horizontal">

    <form method="POST">
        <div class="text-center">
            <input type="hidden" asp-for="GameLibraryId" />
            <div class="form-group">
                <label>@Model.Game.Name</label>
            </div>

            <p>
                <button type="submit" class="btn btn-danger" role="button">Delete</button>
                <a asp-controller="Account" asp-action="Library" class="btn btn-success text-light"
                    role="button">Cancel</a> 
            </p>
        </div>
    </form>
</div>